@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-[hsl(var(--border))];
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .section-heading {
    @apply text-4xl font-bold mb-8 text-center;
  }

  .nav-link {
    @apply hover:text-[#FFB22C] transition-colors duration-300;
  }

  .btn-primary {
    @apply px-6 py-3 bg-[#FFB22C] text-white rounded-lg hover:bg-[#FFB22C]/80 transition-colors duration-300;
  }

  .card {
    @apply bg-[#112240] p-6 rounded-lg shadow-xl hover:shadow-2xl transition-all duration-300;
  }

  .arrow-right {
    @apply text-[#FFB22C] mr-2
  }
}
